
/* стилизация header */

.header {
    display: flex;
    margin-top: 23px;
    margin-bottom: 33px;
    align-items: center;
    @media (max-width: 768px) {
      margin-bottom: 0px;
    }
    &__logo {
      margin-right: 25px;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.2;
      }
    }
    &__nav {
      display: flex;
    }
    &__list {
      display: flex;
      &-link {
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        margin-right: 15px;
      }
    }
    &__phone {
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      color: #95459a;
    }
  }
  
  .left {
    margin-right: auto;
    @media (max-width: 860px) {
      display: none;
    }
  }