<form method="post" action="#" class="contact__form">
    <div class="column__two-input">
        <div class="label__wrapper">
            <label class="contact__label" for="Name">Name</label>
            <input class="contact__input" id="Name" type="text" placeholder="@@pl">
        </div>
        <div class="label__wrapper">
            <label class="contact__label" for="">Phone</label>
            <input class="contact__input" type="tel">
        </div>
    </div>
    <div class="label__wrapper">
        <label class="contact__label" for="">Email</label>
        <input class="contact__input-email" type="email">
    </div>
    <label class="contact__label" for="textarea">Message</label>
    <textarea class="contact__area" name="" id="textarea" cols="30" rows="10" ></textarea>
    <button class="link__info" type="submit">submit</button>
  </form>