<header class="header container">
    <a href="/" class="header__link">
      <img class="header__logo" src="./img/icon/logo.svg" alt="logo" width="142" height="83" class="header__logo"/>
    </a>
    <nav class="header__nav left">
      <ul class="header__list ">
        <li class="header__list-item undotted"><a href="#" class="header__list-link">Catalog</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">Servises</a></li>
        <li class="header__list-item undotted"><a href="/contact.html" class="header__list-link">Blog</a></li>
        <li class="header__list-item undotted"><a href="#" class="header__list-link">About Us</a></li>
        </li>
      </ul>
    </nav>
      <ul class="header__list header__contact">
        <li class="header__list-item header__list-item--contact undotted"><a class="header__list-link header__phone" href="tel:7194319698">719-431-9698</a></li>
        <li class="header__list-item header__contact-item undotted"><a class="header__list-link link__info" href="contact.html">Contact Us</a></li>
      </ul>
  </header>